body {
    background: #fafafa;
    font-family: "Microsoft YaHei"
}

header {
    padding-top: 1%;
    background: #5fc0cd;
    color: #fff;
    margin-bottom: 5%
}

main {
    margin: 5% 0;
    margin-bottom: 20%;
    text-align: center
}

main .input_icon_color {
    color: gray;
    cursor: pointer
}

main input {
    margin: .5% 0
}

main .enter {
    margin-top: 5%;
    text-align: center
}

main .enter button {
    background: #5fc0cd;
    color: #fff;
    border: 1px solid #5fc0cd;
    border-radius: 5px;
    margin-bottom: .5%
}

main .enter .sign .sign_up {
    color: gray;
    font-size: 85%;
    cursor: pointer
}

main .enter .sign .sign_in {
    color: gray;
    font-size: 85%;
    cursor: pointer
}

footer {
    padding-bottom: 10%;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    text-align: center
}

footer .the_thrid_party {
    color: gray;
    font-size: 85%
}

footer .weixin {
    color: green;
    cursor: pointer;
    font-size: 150%
}

footer .weibo {
    color: red;
    cursor: pointer;
    font-size: 150%
}

footer .qq {
    color: #5fc0cd;
    cursor: pointer;
    font-size: 150%
}
