body {
    background: #fafafa;
    font-family: "Microsoft YaHei"
}

header {
    padding-top: 1%;
    background: #5fc0cd;
    color: #fff;
    margin-bottom: 15%
}

main {
    margin: 5% auto;
    margin-bottom: 20%;
    text-align: center
}

@media (min-width:768px) {
    main {
        margin-bottom: 5%
    }
}

main .input_icon_color {
    color: gray;
    cursor: pointer
}

main input {
    margin: .5% 0
}

main .enter {
    margin: 0 auto;
    margin-top: 5%;
    text-align: center
}

main .enter button {
    background: #5fc0cd;
    color: #fff;
    border: 1px solid #5fc0cd;
    border-radius: 5px;
    margin-bottom: .5%;
    outline: 0
}

@media screen and (min-width:768px) {
    main .enter button {
        margin-left: 46%;
        margin-top: -3%
    }
}

main .enter .sign .sign_up {
    color: gray;
    font-size: 85%;
    cursor: pointer
}

main .enter .sign .sign_in {
    color: gray;
    font-size: 85%;
    cursor: pointer
}

footer {
    padding-bottom: 10%;
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    text-align: center
}

@media (min-width:768px) {
    footer {
        position: static;
        padding-left: 3%;
        padding-bottom: 0
    }
}

footer .the_thrid_party {
    color: gray;
    font-size: 85%
}

footer .weixin {
    color: green;
    cursor: pointer;
    font-size: 150%
}

@media (min-width:768px) {
    footer .weixin {
        margin-left: 38%
    }
}

footer .weibo {
    color: red;
    cursor: pointer;
    font-size: 150%
}

footer .qq {
    color: #5fc0cd;
    cursor: pointer;
    font-size: 150%
}
